# Global snippets

snippet clog
	console.log(${1:});
# (c) holds no legal value ;)
snippet c)
	Copyright `&enc[:2] == "utf" ? "©" : "(c)"` `strftime("%Y")` ${1:`g:snips_author`}. All Rights Reserved.${2}
snippet date
	`strftime("%Y-%m-%d")`
snippet ddate
	`strftime("%B %d, %Y")`
snippet fako
	${1:10}.times do 
		User.create(:name => Faker::Name.name, :email => Faker::Internet.email)
	end

